* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
}

.button-row {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.button-row > * {
    background: transparent;
    outline: 0;
    border: 0.1rem solid black;
    padding: 1rem;
    border-radius: 10rem;
    transition: all 50ms ease-in-out;
}

.button-row > button:hover {
    background: #ddd;
}

.grid {
    width: 32.2rem;
    height: 32.2rem;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 0.1rem solid black;
}

.cell {
    flex-shrink: 0;
}

.grid--border .cell {
    border: 0.1rem solid black;
}
